<html>
    <head>
        <title>Autor</title>
    </head>
    <body>
        <h1>Enquetes do Autor {{ autor.nome }}</h1>
        <u>Email</u>: {{ autor.email }}<br/>
        <u>Cidade</u>: {{ autor.cidade }}
        {% if autor.pergunta_set.all %}
        <ul>
            {% for pergunta in autor.pergunta_set.all %}
            <li>
                <a href="{% url 'main:detalhes' pergunta.id %}">
                  {{ pergunta.texto }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h3>100 pergunta</h3>
        {% endif %}
    </body>
    <a href="{% url 'main:index' %}">Página Inicial</a>
</html>