<htmL>
    <head>
        <title>App Enquete</title>
    </head>
    <body>
        <h1>Detalhes da pergunta</h1>
        <p>{{ pergunta.texto }}</p>
        <u>Data de publicação</u>: {{ pergunta.data_publicacao }}<br/
        {% if pergunta.autor %}
        <u>Autor</u>: <a href="{% url 'main:autor' pergunta.autor.id %}">{{ pergunta.autor.nome }}</a><br/>
        <u>Email</u>: {{ pergunta.autor.email }}<br/>
        <u>Cidade</u>: {{ pergunta.autor.cidade }}
        {% endif %}
        <form method="post", action="{% url 'main:votacao' pergunta.id %}">
            {% csrf_token %}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                <li>
                    <input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}">
                    <label for="opcao{{ forloop.counter }}">{{ opcao.texto }}</label><br/>
                </li>
                {% endfor %}
            </ul>
            <input type="submit" value="votar">
        </form>
        <hr/>
        <a href="{% url 'main:resultado' pergunta.id %}">Resultado parcial</a>
        <a href="{% url 'main:index' %}">Página inicial</a>
    </body>
</htmL>