<html>
    <head>
        <title>Aplicações DSWeb 2020.1</title>
    </head>
    <body>
        <h2>Aplicações da Disciplina DSWeb 2020.1</h2>
        <h4>Selecione a aplicação desejada</h4>
        <ul>
            <li><a href="{% url 'main:enquete' %}">Aplicação Enquete - Módulo 1</a></li>
            <li><a href="{% url 'catalogo:index' %}">Aplicação Catálogo - Módulo 2</a></li>
        </ul>
        <hr>
        <b>Viviane Matias</b> (<i>srm.12@outlook.com</i>)
    </body>
</html>