{% load static %}

<html>
    <head>
        <title>App Enquete</title>
        <link rel="stylesheet"type="text/css" href="{% static 'main/style.css' %}">
    </head>
    <body>
        {% if ultimas_perguntas %}
        <h1>Lista de perguntas</h1>
        <ul>
            {% for pergunta in ultimas_perguntas %}
            <li>
                <a href="{% url 'main:detalhes' pergunta.id %}">
                    {{ pergunta.texto }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h3>Não há perguntas cadastradas até o momento.</h3>
        {% endif %}

    </body>
</html>