<htmL>
    <head>
        <title>App Enquete</title>
    </head>
    <body>
        <h1>Resultado da pergunta</h1>
        <p>{{ pergunta.texto }}</p>

        <ul>
            {% for opcao in pergunta.opcao_set.all %}
            <li>
                {{ opcao.texto }} = {{ opcao.votos }}
            </li>
            {% endfor %}
        </ul>
        <hr/>
        <a href="{% url 'main:detalhes' pergunta.id %}">Detalhes da enquete</a>
        <a href="{% url 'main:index' %}">Página inicial</a>
    </body>
</htmL>