{% extends 'catalogo/base.html' %}
{% block titulo %}Criar Conta{% endblock %}
{% block content %}

{% if username_ja_utilizado %}
<div class="erro">
    Nome de usuário "{{ username }}" já existente.
    Por favor, escolha outro.
</div>
{% endif %}

<form method="post" action="{% url 'catalogo:criar_conta' %}">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input required type="text" value="{{ nome }}" name="nome"><br>
    <label for="sobrenome">Sobrenome:</label>
    <input required type="text" value="{{ sobrenome }}" name="sobrenome"><br>
    <label for="username">Nome de Usuário:</label>
    <input required type="text" value="{{ username }}" name="username"><br>
    <label for="senha">Senha:</label>
    <input required type="password" name="senha"><br>
    <input type="submit" value="Criar Conta">
</form>
{% endblock %}