{% extends 'catalogo/base.html' %}
{% block titulo %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

{% if form.errors %}
<div class="erro">
    <p>Nome de usuário ou senha inválido(a). Por favor, tente novamente.</p>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não possui acesso à esta página. Para continuar,
    por favor, realize login com uma conta que possua acesso.</p>
    {% else %}
    <p>É necessário realizar login para continuar.</p>
    {% endif %}
{% endif %}

<form method="post" class="form-login" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" class="botao-padrao" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

<a href="{% url 'catalogo:cadastro' %}">Criar Conta</a>

{% endblock %}
