{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block titulo %}<a href="{% url 'catalogo:index' %}">Catálogo de textos</a>{% endblock %}
        </title>
    </head>
    <body>
        <header>
            {#<a href="{% url 'catalogo:index' %}" class='link-principal'>#}
                Catalogo
            </a>
            <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'catalogo:escrita' %}">Novo texto</a>
            <a href="{% url 'catalogo:autor' user.username %}">Meu Perfil</a>
            <a href="{% url 'catalogo:alterar_perfil' %}">Alterar Perfil</a>
            {#<a href="{% url 'logout' %}">Sair</a>#}
            {% else %}
            <a href="{% url 'login' %}">Entrar</a>
            <a href="{% url 'catalogo:cadastro' %}">Criar Conta</a>
            {% endif %}
            </nav>
        </header>
        <div class='conteudo'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>