{% extends 'catalogo/base.html' %}
{% block titulo %}{{ categoria.nome }}{% endblock %}
{% block content %}

<h1>{{ categoria.nome }}</h1>
<ul>
    {% for texto in textos %}
    <li>
        <a href="{% url 'catalogo:texto' texto.autor.username texto.titulo %}">
            {% if texto.imagem %}
            <img style="width:400px;" src="{{ texto.imagem.url }}">
            {% endif %}
            <h2>{{ texto.titulo }}</h2>
            <h3>{{ texto.texto }}</h3>
        </a>
    </li>
    {% endfor %}
</ul>




{% endblock %}