{% extends 'catalogo/base.html' %}
{% block titulo %}Categorias{% endblock %}
{% block content %}
<h1>Categorias</h1>
<ul>
{% for categoria in categorias %}
    <li>
        <a href="{% url 'catalogo:categoria' categoria.nome %}">{{ categoria.nome }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}