{% extends 'catalogo/base.html' %}
{% block titulo %}Novo Texto{% endblock %}
{% block content %}
<h1>Novo texto</h1>
<form enctype="multipart/form-data" method="post" action="{% if texto %}{% url 'catalogo:alterar_texto' %}{% else %}{% url 'catalogo:publicar' %}{% endif %}">
    {% csrf_token %}
    {% if texto %}
    <input type="hidden" name="texto-id" value="{{ texto.id }}">
    {% endif %}
    <label for="titulo">Título</label>
    <input type="text" value="{{ texto.titulo }}" name="titulo"><br>
    <label for="texto">Texto</label>
    <textarea name="texto">{{ texto.texto }}</textarea><br>
    <label for="publico">Publico</label>
    <input type="checkbox" name="publico" {% if texto.publico %}checked{% endif %}><br>
    <label for="imagem">Imagem(Opcional):</label>
    <input type="file" accept="image/x-png,image/gif,image/jpeg" name='imagem'><br>
    <label for="categoria">Categoria</label>
    <select name="categoria">
        {% for categoria in categorias %}
            <option {% if categoria == texto.categoria %}selected{% endif %} value="{{ categoria.id }}">{{ categoria.nome }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="publicar">
</form>


{% endblock %}