{% extends 'catalogo/base.html' %}
{% block titulo %}Página Inicial{% endblock %}
{% block content %}
<h1>Catálogo de Textos</h1>
<a href="{% url 'catalogo:escrita' %}">Escrever novo texto</a><br>
<a href="{% url 'catalogo:autor' user.username %}">Meus Textos</a><br>
<a href="{% url 'catalogo:categorias' %}">Categorias</a>

{% endblock %}