{% extends 'catalogo/base.html' %}
{% block titulo %}{{ texto.titulo }}{% endblock %}
{% block content %}
<h1>{{ texto.titulo }}</h1>
<h2>{{ texto.data }}</h2>
{% if texto.imagem %}
<img style="width:400px;" src="{{ texto.imagem.url }}">
{% endif %}
<p>{{ texto.texto }}</p>
<a href="{% url 'catalogo:autor' texto.autor.username %}">{{ texto.autor.username }}</a>
<a href="{% url 'catalogo:categoria' texto.categoria.nome %}">{{ texto.categoria.nome }}</a><br>
{% if texto.publico %}
<u>Este texto é público.</u><br>
{% endif %}

{% if user == texto.autor %}
    <form method="post" action="{% url 'catalogo:deletar' %}">
        {% csrf_token %}
        <input type="hidden" name="texto-id" value="{{ texto.id }}">
        <input type="submit" value="Deletar texto">
    </form>

    <a href="{% url 'catalogo:editar' texto.id %}">
        <button>Editar</button>
    </a>

{% endif %}

{% endblock %}